@font-face {
    font-family: 'TnT';
    src: local('TnT'), url(../../public/fonts/TnT.ttf) format('truetype');
}

@font-face {
    font-family: 'fzkt';
    src: local('fzkt'), url(../../public/fonts/fzkt.ttf) format('truetype');
}

@font-face {
    font-family: 'qnyy';
    src: local('qnyy'), url(../../public/fonts/qnyy.ttf) format('truetype');
}

@font-face {
    font-family: 'Kozuka';
    src: local('Kozuka'), url(../../public/fonts/Kozuka.otf) format('opentype');
}
